/* body > h1 { 
   background: orange;
}
*/
/* div h1 { 
   background: orange;
}
*/

/* body > h1 { 
   background: orange;
}
*/
/* div + h1{ 
border: 1px solid red
}*/
/* div em {
   background: red;
} */
 /* div > em { 
   background: orange;
   color: red;
} */

/* div p em{
   background: crimson;
   color:aqua
} */

  body>p em{
   background-color: blue;
}

 
